/node_modules
/chefkoch/photos
/chefkoch/node_modules
/chefkoch/npm-debug.log
chefkoch/375024-960x720-huehnchen-curry-mit-kichererbsen-und-mangostuecken.jpg
/code/node_modules
/code/npm-debug.log
/code/public/bower_components
/code/public/photos
/code/images/photos