<ion-view view-title="Inspiration">
<ion-content class="padding">
<label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
</label>
<div class="margin">
    <select class="col big_select">
        <option selected>Schnelle & einfache Küche</option>
        <option>Green</option>
        <option>Red</option>
    </select>
</div>

<a class="list card spezial-col" href="#/tab/inspiration/1" ng-repeat="recipe in recipes">
    <div class="item item-image img-spezial" style="background-image:url({{recipe.rezept_bilder[0]}})">
    </div>
    <div class="item mh90">
        <h2>{{recipe.rezept_name}}</h2>
    </div>
    <div class="item item-icon-left assertive">
    <i class="icon ion-ios-heart"></i>
      <p class="bold">Vegan</p>
      <p>kein Einkauf</p>
    </div>
</a>

</ion-content>
</ion-view>