<ion-view hide-nav-bar="true">
  <ion-content>
  	<div class="background-positive account_avatar_wrapper">
  		<div class="wrapper_avatar" style="background-image:url({{profil.Info.avatar}})"></div>
  		<p>{{profil.Info.name}}</p>
  	</div>  
    <ion-list>
      <ion-item class="item-icon-right" href="#/tab/inventar">
        <h2><strong>Inventar</strong></h2>
        <p>{{rest.length}} Lebensmittel</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right" href="#/tab/einkaufsliste">
        <h2><strong>Einkaufsliste</strong></h2>
        <p>{{einkaufen.length}} Lebensmittel im Supermarkt - {{abholen.length}} Community</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right" href="#/tab/nachrichten">
        <h2><strong>Nachrichten</strong></h2>
        <p>1 Nachricht</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
