<ion-view view-title="{{recipe.heading}}">
<!-- <div class="tabs-striped tabs-top tabs-background-light tabs-color-black">
    <div class="tabs">
        <a class="tab-item" ng-class="{active : rezepte}" href="" ng-click="toggleView()">
        <p class="spezial_p">Rezept</p>
        </a>
        <a class="tab-item" ng-class="{active : !rezepte}" href="" ng-click="toggleView()">
        <p class="spezial_p">Standorte</p>
        </a>
    </div>
</div> -->
<ion-content>
<div class="img-spezial h200 pr" style="background-image:url(http://static.chefkoch-cdn.de/ck.de/cms-uploads/chefkoch/2786/Couscoussalat_PrintFeb_598.jpg)">
    <div class="details_heading">
        <h1>{{recipe.heading}}</h1>
        <p>{{recipe.art}} - keine Einkäufe nötig</p>
    </div>
</div>
<div class="persons">
    <p>Ich Koche für <span>{{amount}}</span> Person(en)</p>
</div>
<div class="item range range-positive range_padding">
    <input ng-model="amount" value="1" min="1" max="10" type="range" name="volume">
</div>
<div class="list" style="margin-top:50px">
    <div class="item item-divider">
        Eigener Vorrat
    </div>
    <div class="item">
        <span class="unit">{{500 * amount}}g</span>
        <p>Nudeln (Rigatoni o. ä.)</p>
    </div>
    <div class="item">
        <span class="unit">{{250 * amount}}g</span>
        <p>Kirschtomate(n)</p>
    </div>
    <div class="item">
        <span class="unit">{{50 * amount}}g</span>
        <p>Oliven, schwarz, ohne Kerne</p>
    </div>
    <div class="item item-divider">
        Community
    </div>
    <div class="item holding_" on-tap="onHold($event)">
        <span class="unit">200g</span>
        <p> Schafskäse<br> <i class="italic">1 km entfernt</i></p>

    </div>
    <div class="item holding_" on-tap="onHold($event)">
        <span class="unit">1 Bund</span>
        <p> Petasilie<br> <i class="italic">1 km entfernt</i></p>
    </div>
</div>
</ion-content>


<!-- <ion-content ng-show="!rezepte">
    <leaflet id="map" leaflet-container leaflet-fade-anim center="center" layers="layers" height="300px" width="100%"></leaflet>
</ion-content> -->


</ion-view>