<ion-view view-title="Inspiration">
<ion-content class="padding">
<label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
</label>
<div class="margin">
    <select class="col big_select">
        <option selected>Schnelle & einfache Küche</option>
        <option>Green</option>
        <option>Red</option>
    </select>
</div>





<a class="list card spezial-col" href="#/tab/inspiration/1">
    <div class="item item-image img-spezial" style="background-image:url(http://static.chefkoch-cdn.de/ck.de/cms-uploads/chefkoch/2786/Couscoussalat_PrintFeb_598.jpg)">
        <!-- <img src="/img/ionic.png"> -->
    </div>
    <div class="item mh90">
        <h2>Nudeln mit Tomaten, Schafskäse und Oliven</h2>
    </div>
    <div class="item item-icon-left assertive">
    <i class="icon ion-ios-heart"></i>
      <p class="bold">Vegan</p>
      <p>kein Einkauf</p>
    </div>
</a>


<a class="list card spezial-col" href="#/tab/inspiration/1">
    <div class="item item-image img-spezial" style="background-image:url(http://static.chefkoch-cdn.de/ck.de/cms-uploads/chefkoch/2786/Couscoussalat_PrintFeb_598.jpg)">
        <!-- <img src="/img/ionic.png"> -->
    </div>
    <div class="item mh90">
        <h2>Nudeln mit Tomaten, Schafskäse und Oliven</h2>
        
    </div>
    <div class="item item-icon-left" >
    <i class="icon ion-ios-heart-outline"></i>
      <p class="bold">Vegetarisch</p>
      <p>Einkauf nötig</p>
    </div>
</a>

<a class="list card spezial-col" href="#/tab/inspiration/1">
    <div class="item item-image img-spezial" style="background-image:url(http://static.chefkoch-cdn.de/ck.de/cms-uploads/chefkoch/2786/Couscoussalat_PrintFeb_598.jpg)">
        <!-- <img src="/img/ionic.png"> -->
    </div>
    <div class="item mh90">
        <h2>Nudeln mit Tomaten, Schafskäse und Oliven</h2>
        
    </div>
    <div class="item item-icon-left" >
    <i class="icon ion-ios-heart-outline"></i>
      <p class="bold">Vegetarisch</p>
      <p>Einkauf nötig</p>
    </div>
</a>

<a class="list card spezial-col" href="#/tab/inspiration/1">
    <div class="item item-image img-spezial" style="background-image:url(http://static.chefkoch-cdn.de/ck.de/cms-uploads/chefkoch/2786/Couscoussalat_PrintFeb_598.jpg)">
        <!-- <img src="/img/ionic.png"> -->
    </div>
    <div class="item mh90">
        <h2>Nudeln mit Tomaten, Schafskäse und Oliven</h2>
        
    </div>
    <div class="item item-icon-left" >
    <i class="icon ion-ios-heart-outline"></i>
      <p class="bold">Vegetarisch</p>
      <p>Einkauf nötig</p>
    </div>
</a>

<a class="list card spezial-col" href="#/tab/inspiration/1">
    <div class="item item-image img-spezial" style="background-image:url(http://static.chefkoch-cdn.de/ck.de/cms-uploads/chefkoch/2786/Couscoussalat_PrintFeb_598.jpg)">
        <!-- <img src="/img/ionic.png"> -->
    </div>
    <div class="item mh90">
        <h2>Nudeln mit Tomaten, Schafskäse und Oliven</h2>
        
    </div>
    <div class="item item-icon-left" >
    <i class="icon ion-ios-heart-outline"></i>
      <p class="bold">Vegetarisch</p>
      <p>Einkauf nötig</p>
    </div>
</a>

<a class="list card spezial-col" href="#/tab/inspiration/1">
    <div class="item item-image img-spezial" style="background-image:url(http://static.chefkoch-cdn.de/ck.de/cms-uploads/chefkoch/2786/Couscoussalat_PrintFeb_598.jpg)">
        <!-- <img src="/img/ionic.png"> -->
    </div>
    <div class="item mh90">
        <h2>Nudeln mit Tomaten, Schafskäse und Oliven</h2>
        
    </div>
    <div class="item item-icon-left" >
    <i class="icon ion-ios-heart-outline"></i>
      <p class="bold">Vegetarisch</p>
      <p>Einkauf nötig</p>
    </div>
</a>









</ion-content>
</ion-view>